body {
	margin: 0;
}

.rocksImage {
	width: 100%;
	position: absolute;
	z-index: -1;
}

.rocksContainer {
	position: relative;
	overflow: hidden;
	height: 94vh;
	margin-bottom: 50px;
}

.rocksText {
	margin: 0;
	text-align: center;
	position: absolute;
	font-size: 60px;
	font-weight: bold;
	font-family: 'Comfortaa', cursive;
	/* or absolute */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.rocksText .subtext {
	font-weight: heavy;
	font-size: 30px;
}

.ghost-button {
	margin-top: 100px;
	font-size: 20px;
	display: inline-block;
	width: 200px;
	padding: 8px;
	color: #fff;
	border: 2px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: border-color 0.3s ease-out, color 0.3s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
	background-color: #fff; /* fallback */
	background-color: rgba(255, 255, 255, 0.4);
	border-color: #fff; /* fallback */
	border-color: rgba(255, 255, 255, 0.4);
	transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.hvr-sink {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
	-webkit-transform: translateY(8px);
	transform: translateY(8px);
}

.flex-container {
	margin: 0 10% 0 10%;
	font-family: Work Sans;
	color: #5e5e5e;
	display: flex;
	padding: 50px 0 50px 0;
	justify-content: center;
}

.section {
	font-size: 30px;
	flex: 1;
}

.content {
	line-height: 35px;
	font-size: 18px;
	flex: 2;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 20% 0 20%;
}

.board {
	color: #5e5e5e;
	padding: 50px 0 50px 0;
	display: flex;
	font-size: 60px;
	font-weight: bold;
	font-family: 'Comfortaa', cursive;
	justify-content: center;
}

.name {
	flex: 1;
}

.bio {
	flex: 3;
}

.navbar {
	font-family: 'Comfortaa', cursive;
	color: white;
	background-color: black;
	height: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
	padding: 0 25px 0 25px;
}

li:hover {
	color: #00cc00;
}
